    #footer{
     height: 60px;
     background-color: #C8CFA9;
    }

    .loginform{
        max-width: 420px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
                border-radius: 8px;
                   box-shadow: 0 0 15px #222;  
    }
    .loginform{
         margin-top:60px;
    }

    .loginform h2{height:45px;font-size:20px;font-weight:normal; margin-left:10px;}

    .loginleft{
        width:260px;
         height:230px;
         position:relative;
         float:left;
       border-right:1px solid #ccc;
    }

    .loginright{
        width:158px;
         height:230px;
         position:relative;
         float: right;
    }

    .loginform .controls{
         margin-top:18px;
    }

    .loginform .controls label{
         margin-left:40px;
         width:90px;
         position:relative;
         float:left;
    }
    .loginform .controls button{
         position:relative;
         float: left;
    }