   
    /*警告信息提示样式*/
    .p-warningDIV{ border:2px solid #CCCC00; height:28px; color:#CCCC00;
    -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;box-shadow: 0 0 15px #222; }


     /*成功信息提示样式*/
    .p-successDIV{ border:2px solid #66CC66; height:28px; color:#66CC66;
    -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;box-shadow: 0 0 15px #222;}
    
    
    /*错误信息提示样式*/
    .p-errorDIV{ border:2px solid #CC3333; height:28px; color:#CC3333;
    -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;box-shadow: 0 0 15px #222;}
